.u-section-1 .u-sheet-1 {
  min-height: 1859px;
}

.u-section-1 .u-text-1 {
  margin: -42px auto 0 -4px;
}

.u-section-1 .u-image-1 {
  width: 408px;
  height: 247px;
  margin: 0 285px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -234px 815px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 428px;
  height: 382px;
  margin: -25px 142px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -344px 680px 0 3px;
}

.u-section-1 .u-text-5 {
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: -43px 258px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px 682px 0 0;
}

.u-section-1 .u-text-8 {
  margin: -403px 153px 0 529px;
}

.u-section-1 .u-image-3 {
  width: 439px;
  height: 300px;
  margin: 54px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 261px;
  margin: -280px 97px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 119px 17px 60px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 615px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 482px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 53px;
    margin-left: 429px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 395px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 198px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1845px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 215px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 112px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 149px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 82px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 247px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 206px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -193px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 303px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -265px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 94px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 232px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 156px;
    margin-top: -212px;
  }
}